# Application
APP_NAME="CMS Hotel PMS"
APP_PORT=8080
APP_DOMAIN=localhost:8080

# Database
DB_SERVER=db
DB_NAME=qloapps
DB_USER=qloapps
DB_PASSWORD=qloappspass
DB_ROOT_PASSWORD=rootpassword
DB_PREFIX=qlo_

# Admin Initial Account
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=Hotel
ADMIN_EMAIL=admin@hotel.local
ADMIN_PASSWORD=AdminPassword123!
